/*-------------------------------------------------------*/
/* Social Icons
/*-------------------------------------------------------*/
.socials {

  a {
    margin: 0 6px 6px 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    @include transition ($all);
    border-radius: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $heading-color;
      color: #fff;
    }
  }

  &--nobase a {
    width: auto;
    height: auto;
    line-height: 1;
    margin-right: 24px;
    background-color: transparent;
    color: $text-color;

    &:hover {
      background-color: transparent !important;
      color: $heading-color;
    }
  }
}

.social-facebook {
  background-color: #39599f;
}

.social-twitter {
  background-color: #55ACEE;
}

.social-google-plus {
  background-color: #DE4B39;
}

.social-youtube {
  background-color: #c61d23;
}

.social-snapchat {
  background-color: #fffb01;
}

.social-linkedin {
  background-color: #0e76a8;
}

.social-pinterest {
  background-color: #c8232c;
}

.social-instagram {
  background-color: #e1306c;
}

.social-rss {
  background-color: #ef822a;
}

.social-pocket {
  background-color: #ef4056;
}

.social-email {
  background-color: #333333;
}

.social-vkontakte {
  background-color: #45668e;
}

.social-reddit {
  background-color: #ff4500;
}

.social-dribbble {
  background-color: #ea4c89;
}

.social-tumblr {
  background-color: #35465c;
}

.social-behance {
  background-color: #1769ff;
}

.social-slack {
  background-color: #6ecadc;
}

.social-github {
  background-color: #333333;
}

.social-flickr {
  background-color: #ff0084;
}

.social-xing {
  background-color: #026466;
}

.social-vimeo {
  background-color: #1ab7ea;
}

.rounded a {
  border-radius: 50%;
}

/*-------------------------------------------------------*/
/* Form Elements
/*-------------------------------------------------------*/
input,
select,
textarea {
  height: 48px;
  border: 1px solid $border-color;
  width: 100%;
  margin-bottom: 21px;
  font-size: 15px;
  padding: 0 16px;
  box-shadow: none;
  border-radius: 3px;
  @include transition ($all);
}

textarea {
  height: auto;
  padding: 8px 16px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input:focus,
textarea:focus {
  border-color: $secondary-color;
  background-color: #fff;
  outline: none;
  box-shadow: none;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Change Color of Placeholders */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $text-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $text-color;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $text-color;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $text-color;
}

label {
  color: $heading-color;
  font-family: $heading-font;
  font-size: 0.9375rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  line-height: 1.5;
}

.form-group {
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 12px;
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

select::-ms-expand {
  display: none;
}

/* Checkboxes & Radio Buttons
-------------------------------------------------------*/
input[type="checkbox"],
input[type="radio"] {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 8px;
  text-align: center;
  line-height: 1;
  border: 2px solid $border-color;
  background-color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    border-color: darken($border-color, 20%);
    background-color: #fff;
  }
}

input[type="checkbox"] {

  &:checked:after {
    content: '\e80a';
    font-family: 'ui-icons';
    font-size: 0.7rem;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  line-height: 22px;
}

input[type="radio"] {
  border-radius: 50%;

  &:checked:after {
    content: '';
    width: 8px;
    height: 8px;
    position: relative;
    top: -2px;
    border-radius: 50%;
    display: inline-block;
    background-color: $heading-color;
  }
}

.radio,
.checkbox {
  list-style: none;
}

.consent-checkbox {
  margin-top: 12px;
  margin-bottom: 32px;
  overflow: hidden;
  display: flex;

  &__label {
    line-height: 20px;
    display: inline-block;
    color: $text-color;
  }
}

/*-------------------------------------------------------*/
/* Buttons
/*-------------------------------------------------------*/

.section-buttons .btn {
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-family: $heading-font;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  border-radius: 3px;
  @include transition ($all);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition ($all);
  }

  &:hover {
    @include transition ($all);
    color: #fff;
  }

  &:hover span,
  &:focus {
    color: #fff;
  }

  span {
    position: relative;
    z-index: 3;
    @include transition (color .3s ease-in-out);
    color: #fff;
  }

  &--transparent {
    background-color: transparent;
    color: #fff;

    &:before {
      border: 2px solid #fff;
    }

    &:hover {
      background-color: $main-color;

      &:before {
        border-color: transparent;
      }
    }
  }

  &--white {
    box-shadow: 1px 1.732px 3px 0px rgba(0, 0, 0, .05);
    background-color: #fff;

    span {
      color: $bg-dark;
    }

    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }

  &--stroke {
    background-color: transparent;
    border: 2px solid $border-color;

    span {
      color: $bg-dark;
    }

    &:hover,
    &:focus {
      background-color: $main-color;
      border-color: transparent;
    }
  }

  &--color {
    background-color: $main-color;

    &:hover,
    &:focus {
      background-color: darken($main-color, 5%);
    }
  }

  &--secondary-color {
    background-color: $secondary-color;

    &:hover,
    &:focus {
      background-color: darken($secondary-color, 5%);
    }
  }

  &--dark {
    background-color: $bg-dark;

    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }

  &--light {
    background-color: #f5f5f5;

    span {
      color: $heading-color;
    }

    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }

  &--wide {
    width: 100%;
  }

  &--icon i {
    margin-right: 7px;
    color: #fff;
  }

  &--icon.btn--md i {
    font-size: 13px;
  }

  &--icon.btn--sm i {
    font-size: 10px;
  }

  &--icon.btn--x-large i {
    font-size: 34px;
    margin-right: 20px;
    vertical-align: sub;
  }

  &--google {
    background-color: #58c143;
  }

  &--apple {
    background-color: #282828;
  }

  &--windows {
    background-color: #3f48c4;
  }
}

.btn--lg {
  font-size: 16px;
  padding: 0 35px;

  span {
    line-height: 48px;
  }
}

.btn--md {
  font-size: 14px;
  padding: 0 22px;

  span {
    line-height: 40px;
  }
}

.btn--sm {
  font-size: 1em;
  padding: 6px 20px;

  span {
    line-height: 28px;
  }
}

.btn--x-large {
  font-size: 20px;
  padding: 0 34px;
  border-radius: 5px;
  margin: 0 8px;

  @include bp-lg-down {
    margin: 0 3px;
  }

  @include bp-md-down {
    margin: 8px;
  }

  @media(max-width: 504px) {
    width: 100%;
    margin: 8px 0;
  }

  span {
    line-height: 73px;
  }
}

.rounded,
.rounded:before {
  border-radius: 70px;
}

/* Input Buttons
-------------------------------------------------------*/

.btn--button {
  border: none;
  margin-bottom: 0;
  width: auto;

  &.btn--lg {
    padding: 0 35px;
    height: 48px;
    font-size: 15px;
  }

  &.btn--md {
    padding: 0 22px;
    height: 40px;
    font-size: 14px;
  }

  &.btn--sm {
    padding: 0 20px;
    height: 34px;
    font-size: 12px;
  }

  &.btn--color,
  &.btn--dark,
  &.btn--gradient,
  &.btn--secondary-color {
    color: #fff;
  }

  &.btn--wide {
    width: 100%;
  }
}

/*-------------------------------------------------------*/
/* Lightboxes
/*-------------------------------------------------------*/
.mfp-bg, .mfp-wrap {
  position: fixed;
  left: 0;
  top: 0
}

.mfp-bg, .mfp-container, .mfp-wrap {
  height: 100%;
  width: 100%
}

.mfp-container:before, .mfp-figure:after {
  content: ''
}

.mfp-bg {
  z-index: 1250;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
  filter: alpha(opacity=80)
}

.mfp-wrap {
  z-index: 1251;
  outline: 0 !important;
  -webkit-backface-visibility: hidden
}

.mfp-container {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.mfp-align-top .mfp-container:before {
  display: none
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045
}

.mfp-close, .mfp-preloader {
  text-align: center;
  position: absolute
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto
}

.mfp-ajax-cur {
  cursor: progress
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
  cursor: auto
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.mfp-loading.mfp-figure {
  display: none
}

.mfp-hide {
  display: none !important
}

.mfp-preloader {
  color: #CCC;
  top: 50%;
  width: auto;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044
}

.mfp-preloader a {
  color: #CCC
}

.mfp-close, .mfp-preloader a:hover {
  color: #FFF
}

.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader {
  display: none
}

button.mfp-arrow, button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  right: 0;
  top: 0;
  text-decoration: none;
  opacity: .65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace
}

.mfp-close:focus, .mfp-close:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}

.mfp-close:active {
  top: 1px
}

.mfp-close-btn-in .mfp-close {
  color: #333
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap
}

.mfp-figure, img.mfp-img {
  line-height: 0
}

.mfp-arrow {
  position: absolute;
  opacity: .65;
  filter: alpha(opacity=65);
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent
}

.mfp-arrow:active {
  margin-top: -54px
}

.mfp-arrow:focus, .mfp-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}

.mfp-arrow .mfp-a, .mfp-arrow .mfp-b, .mfp-arrow:after, .mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent
}

.mfp-arrow .mfp-a, .mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px
}

.mfp-arrow .mfp-b, .mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7
}

.mfp-arrow-left {
  left: 0
}

.mfp-arrow-left .mfp-a, .mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px
}

.mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F
}

.mfp-arrow-right {
  right: 0
}

.mfp-arrow-right .mfp-a, .mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px
}

.mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px
}

.mfp-image-holder .mfp-content, img.mfp-img {
  max-width: 100%
}

.mfp-iframe-holder .mfp-close {
  top: -40px
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #000
}

.mfp-figure:after, img.mfp-img {
  width: auto;
  height: auto;
  display: block
}

img.mfp-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto
}

.mfp-figure:after {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #444
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px
}

.mfp-figure figure {
  margin: 0
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    text-align: center;
    padding: 0
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(.75);
    transform: scale(.75)
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px
  }
}

.mfp-ie7 .mfp-img {
  padding: 0
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px
}

.mfp-ie7 .mfp-container {
  padding: 0
}

.mfp-ie7 .mfp-content {
  padding-top: 44px
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0
}

.mfp-iframe-holder .mfp-content {
  max-width: 1400px;
}

.modal-body,
.modal-footer {
  padding: 30px;
}

.modal-header {
  padding: 15px 30px;
}

/*-------------------------------------------------------*/
/* Play Button
/*-------------------------------------------------------*/
.play-btn {
  display: inline-block;
  width: 72px;
  height: 72px;
  background-color: $main-color;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
  @include transition (all .2s ease-in-out);

  &--center {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -8px 0 0 -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 11px;
    border-color: transparent transparent transparent #fff;
    @include transition (all .2s ease-in-out);
  }

  &:hover {
    background-color: darken($main-color, 5%);
  }

  &__wrap {
    display: inline-block;
  }

  &--sm {
    width: 48px;
    height: 48px;

    &:before {
      margin: -5px 0 0 -3px;
      border-width: 5px 0 5px 7px;
    }
  }

  &--white {
    background-color: #fff;

    &:before {
      border-color: transparent transparent transparent #333;
    }

    &:hover:before {
      border-color: transparent transparent transparent #fff;
    }
  }

  &__text {
    color: #fff;
    margin-left: 10px;
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 700;
    font-family: $heading-font;
    letter-spacing: -0.01em;
  }

}

/* Icon Wave */
.icon-wave {
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.icon-wave:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.icon-wave:hover {
  background: $secondary-color;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.icon-wave:hover:after {
  -webkit-animation: sonarEffect 1s ease-out 75ms;
  -moz-animation: sonarEffect 1s ease-out 75ms;
  animation: sonarEffect 1s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px $secondary-color, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px $secondary-color, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}

@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px $secondary-color, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px $secondary-color, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px $secondary-color, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px $secondary-color, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.3);
    opacity: 0;
  }
}

/*-------------------------------------------------------*/
/* Sliders
/*-------------------------------------------------------*/

/**
* Slick Carousel v1.8.1
* Copyright(c) 2017 Ken Wheeler
* Licensed under the MIT license
* https://github.com/kenwheeler/slick.git
*/
.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block
}

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto
}

.slick-track:after, .slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-slide img {
  display: inline;
}

.slick-slider-row {
  margin: 0 -15px;
}

.slick-slider-col {
  padding: 0 15px;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  top: 50%;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 3px;
  outline: none;
  background: #fff;
}

.slick-arrow:hover,
.slick-arrow:focus {
  outline: none;
}

.slick-prev:not(.slick-disabled):hover,
.slick-prev:not(.slick-disabled):focus,
.slick-next:not(.slick-disabled):hover,
.slick-next:not(.slick-disabled):focus {
  background-color: $main-color;
  color: #fff;
  border-color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'ui-icons';
  font-size: 1.25rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before,
[dir='rtl'] .slick-next:before {
  content: '\f104';
}

.slick-next:before,
[dir='rtl'] .slick-prev:before {
  content: '\f105';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* Custom Arrows Nav */
.slick-custom-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;

  .slick-arrow {
    left: auto;
    right: auto;
    float: left;
    top: auto;
    @include transform(none);
  }
}

/* Arrows Outside */
.slick-arrows-outside-top {
  .slick-arrow {
    position: absolute;
    top: -64px;
    @include transform(none);
  }

  .slick-prev {
    right: 50px;
    left: auto;
  }

  .slick-next {
    right: 15px;
  }
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 9px;
  height: 9px;
  padding: 0;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid $text-color;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li.slick-active button,
.slick-dots button:hover {
  background-color: $main-color;
  border-color: transparent;
}

/*-------------------------------------------------------*/
/* Icons List
/*-------------------------------------------------------*/
.icons-list i {
  font-size: 40px;
  margin: 15px;
  color: $heading-color;
}

/*-------------------------------------------------------*/
/* Tables
/*-------------------------------------------------------*/
table {
  width: 100%;
}

table th {
  font-weight: normal;
}

table caption {
  margin-bottom: 10px;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 1px solid $border-color;
  padding: 10px;
}

table > thead > tr > th {
  border-bottom: none;
}

table thead tr th {
  font-size: 12px;
  color: $heading-color;
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.wp-block-table.is-style-stripes td {
  border-color: transparent;
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: $bg-light;
}

.file-manager-screen {
  border-radius: $border-radius;
  box-shadow: 0 0 40px 0 rgba(#000,0.1), 0 0 20px 0 rgba(#08c, 0.05), 0 0 10px 0 rgba(#000, 0.1);
}