/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/

.footer {
  position: relative;
  &.bg-dark {
    background-color: #222;
    color: #ccc;

    .top-divider {
      border-color: rgba(#fff, .1);
    }

    .widget-title,
    .footer__widgets a:hover {
      color: #ccc;
    }
  }
}


/* Footer Widgets
-------------------------------------------------------*/
.footer__widgets {
  padding: 100px 0 60px;

  a {
    color: $text-color;

    &:hover {
      color: $heading-color;
    }
  }
}

.widget-links li {
  font-size: 13px;
}



/* Footer Logo
-------------------------------------------------------*/
.footer__logo {
  margin-bottom: 52px;

  img {
    max-height: 21px;
  }
}


/* Get in Touch
-------------------------------------------------------*/

.footer__get-in-touch {

  &__paragraph {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 320px) {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__box,
  &__box p {
    font-size: 18px;
  }

  &__box p {
    margin-bottom: 5px;
  }
}


/* Nav Links
-------------------------------------------------------*/
.footer__nav-links .list-inline li > a {
  font-family: $heading-font;
  color: #fff;
  font-size: 15px;

  &:hover {
    color: darken(#fff,15%) !important;
  }
}


/* Bottom Footer
-------------------------------------------------------*/
.footer__bottom {
  padding: 26px 0;

  &-links {
    a {
      color: $text-color;

      &:hover {
        color: $heading-color;
      }
    }

    li {
      padding: 0;

      &:last-child:after {
        display: none;
      }
    }

    li:after {
      content: "/";
      margin-left: 10px;
      margin-right: 7px;
    }
  }
}

.copyright {
  display: inline-block;
  font-size: 13px;
  color: #bcc1c9;

  a {
   color: inherit;
  }

  .footer__bottom.bg-dark & {
    color: #484848;
  }
}