/*-------------------------------------------------------*/
/* Navigation
/*-------------------------------------------------------*/

.nav {
  min-height: $nav-full-height;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 120;
  position: relative;
  background-color: #fff;

  &__menu,
  &__dropdown-menu {
    list-style: none;
  }

  &__menu {
    position: relative;
    @include display-flex;
    align-items: center;

    &--inline {
      @include display-inline-flex;
    }

    & > li {
      position: relative;
    }

    & > li.flex-child {
      border-left: 1px solid rgba(#fff,.3);

      .nav__holder.scrolling & {
        border-left: 1px solid rgba(#909090,.3);
      }
    }

    & > li > a {
      font-family: $heading-font;
      font-weight: 400;
      color: $nav-color;
      font-size: 15px;
      padding: 0 17px;
      line-height: $nav-full-height;
      display: block;
      position: relative;

      &:hover {
        color: $secondary-color;
      }
    }

    & > .active > a {
      color: $secondary-color;
    }

    & > li:last-child > a {
      padding-right: 0;
    }
  }


  /* Dropdowns (large screen) */
  @include bp-lg-up {

    &__wrap {
      display: block !important;
      height: auto !important;
    }

    &__wrap--text-center {
      text-align: center;
    }

    &__menu > li {
      display: inline-block;
      text-align: center;
    }

    &__dropdown-menu,
    &__dropdown-submenu > .nav__dropdown-menu {
      position: absolute;
      left: -10px;
      top: 100%;
      z-index: 1000;
      min-width: 220px;
      width: 100%;
      text-align: left;
      padding: 20px 0;
      list-style: none;
      white-space: nowrap;
      background-color: #fff;
      box-shadow: 0 4px 20px rgba( #9aa1ab, .25);
      border-radius: 5px;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      display: block;
      visibility: hidden;
      opacity: 0;
      @include transition (all .2s ease-in-out);

      > li > a {
        color: $text-color;
        padding: 5px 30px;
        display: block;
      }
    }

    &__dropdown-menu:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background-color: #fff;
      position: absolute;
      top: -7px;
      left: 35px;
      @include transform ( rotate(45deg) );
    }

    &__dropdown-menu.hide-dropdown {
      visibility: hidden !important;
      opacity: 0 !important;
    }

    &__dropdown:last-child .nav__dropdown-menu {
      right: 0;
    }

    &__dropdown:hover > .nav__dropdown-menu,
    &__dropdown-submenu:hover > .nav__dropdown-menu {
      opacity: 1;
      visibility: visible;
    }

    &__dropdown-submenu {
      position: relative;

      .nav__dropdown-menu {
        left: 100%;
        top: -20px;
      }

      & > a:after {
        font-family: "Themify";
        position: absolute;
        content: "\e649";
        font-size: 8px;
        right: 20px;
        line-height: 21px;
        color: $text-color;
      }
    }

    &__dropdown-menu > li a:hover {
      color: $heading-color;
    }

    &__dropdown-trigger {
      display: none;
    }
  }
}

.mobile body {
  cursor: pointer;
}


/* Logo
-------------------------------------------------------*/

.logo {
  max-height: 40px;
  display: inline-block;

  > svg {
    line-height: inherit;
    display: inline-block;
    vertical-align: -7px;
  }

}

.logo__link {
  height: $nav-full-height;
  @include display-flex;
  justify-content: center;
  align-items: center;
}

.logo--left {
  justify-content: flex-start;
}

.logo__name {
  font-size: 1.5rem;
  padding-left: 10px;
  color: #FFFFFF;
}


/* Nav Flexbox
-------------------------------------------------------*/
header .flex-parent {
  align-items: center;

  @include bp-lg-down {
    display: block;
  }
}

.nav--align-right {
  margin-left: auto;
}

.nav--align-left {
  margin-right: auto;
}


/* Nav Icon Toggle (mobile nav)
-------------------------------------------------------*/
.nav__icon-toggle {
  position: relative;
  top: 14px;
  float: right;
  padding: 9px 0 9px 10px;
  background-color: transparent;
  border: none;
  z-index: 50;

  @include bp-lg-up {
    display: none;
  }

  &-bar {
    background-color: $bg-dark;
    width: 18px;
    display: block;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:focus .nav__icon-toggle-bar,
  &:hover .nav__icon-toggle-bar {
    background-color: $main-color;
  }
}


/* Sticky Nav
-------------------------------------------------------*/

.nav__holder {

  &--no-line {
    border-bottom: none;
  }

  &.offset {
    @include transform (translate3d(0, -100%, 0));
    @include transition ($all);
  }

  &.scrolling {
    .logo__name {
      color: #333333;
    }
    @include transform (translate3d(0, 0px, 0));
  }

  &.sticky {
  position: fixed;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  height: $nav-short-height;
  top: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  z-index: 120;

    &.scrolling {
      opacity: 1;
      visibility: visible;
    }

    .nav__menu > li > a {
      line-height: $nav-short-height;
    }

    .logo-wrap a {
      height: $nav-short-height;
    }
  }
}


/* Nav Transparent
-------------------------------------------------------*/

@include bp-lg-up {

  .nav--transparent {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;

    .logo--dark,
    .nav__holder.scrolling .logo--light {
      display: none;
    }

    .logo--light,
    .nav__holder.scrolling .logo--dark {
      display: inline-block;
    }

    .nav__menu > li > a {
      color: #fff;

      &:hover {
        color: rgba(#fff, .9);
      }
    }

    .sticky .nav__menu > li > a {
      color: $nav-color;

      &:hover {
        color: $secondary-color;
      }
    }

    .sticky .nav__menu > li.active > a {
      color: $secondary-color;
    }
  }
}

@include bp-lg-down {
  .nav--sticky-on-mobile .nav__holder {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .nav--transparent .logo--light {
    display: none;
  }
}

.nav--always-fixed {
  position: fixed;
}



/* Nav Button
-------------------------------------------------------*/
.nav__btn-holder {
  display: inline-block;
  padding-left: 30px;

  .btn--transparent {
    border-color: rgba(#fff,.55);

    &:hover {
      border-color: transparent;
    }

    .nav__holder.scrolling & {
      background-color: $main-color;
      border-color: transparent;
    }
  }

  @include bp-lg-down {
    padding: 20px 0;

    .btn--transparent {
      background-color: $main-color;
      border-color: transparent;
      width: 100%;
    }
  }
}




/* Go to Top
-------------------------------------------------------*/

#back-to-top {
  display: block;
  z-index: 100;
  width: 34px;
  height: 34px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: -34px;
  right: 20px;
  line-height: 34px;
  background-color: rgba( #fff, .9);
  box-shadow: 0px 1px 4px 0px rgba( 154, 161, 171, .4 );
  border-radius: 50%;
  @include transition ($all);
  text-decoration: none;

  i {
    @include transition ($all);
  }

  a {
    display: block;
    color: $heading-color;
  }

  &.show {
    bottom: 20px;
  }

  &:hover {
    background-color: $main-color;
    bottom: 24px;
  }

  &:hover i {
    color: #fff;
  }
}



/*-------------------------------------------------------*/
/* Nav Mobile Styles
/*-------------------------------------------------------*/

@include bp-lg-down {

  .nav {
    min-height: $nav-short-height;

    &__menu {
      display: block;
    }

    &__menu li a {
      padding: 0;
      line-height: 46px;
      height: 46px;
      display: block;
      border-bottom: 1px solid $border-color;
    }

    &__dropdown-menu a {
      color: $text-color;

      &:hover {
        color: #000;
      }
    }

    &__dropdown-menu > li > a {
      padding-left: 10px;
    }

    &__dropdown-menu > li > ul > li > a {
      padding-left: 20px;
    }

    &__dropdown-trigger {
      display: block;
      width: 20px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 50;
      cursor: pointer;
    }

    &__dropdown-submenu {
      position: relative;
    }

    &__dropdown-menu {
      display: none;
      width: 100% !important;
    }

    &__dropdown-trigger.active + .nav__dropdown-menu {
      display: block;
    }
  }

  .logo-wrap {
    float: left;

    a {
      display: table-cell;
      vertical-align: middle;
      height: $nav-short-height;
    }
  }

  .sticky-on-mobile .navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
