/*-------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------*/

ul, ol {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  margin-top: 0;
  margin-bottom: 10px;
  color: $heading-color;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

@include bp-lg-down {
  h1 {font-size: 28px; }
  h2 { font-size: 25px; }
  h3 { font-size: 22px; }
  h4 { font-size: 19px; }
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: $heading-color;
  font-size: 85%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@include bp-xl-down { .text-xl-center {text-align: center}; }
@include bp-lg-down { .text-lg-center {text-align: center}; }
@include bp-md-down { .text-md-center {text-align: center}; }
@include bp-sm-down { .text-sm-center {text-align: center}; }

.section-headings p {
  margin-bottom: 40px;
}

.heading {
  position: relative;
  margin-bottom: 0;

  &--lg {
    font-size: 42px;

    @include bp-lg-down {
      font-size: 28px;
    }
  }
}

.heading-row {
  margin-bottom: 70px;

  @include bp-lg-down {
    margin-bottom: 40px;
  }
}

.subheading {
  font-size: 18px;
  max-width: 770px;
  line-height: 30px;
  padding: 0 15px;
  margin-bottom: 0;
  margin-top: 25px;
  margin: 25px auto 0;
  color: $subheading-color;

  &-left-align {
    margin-left: 0;
    padding-left: 0;
  }
}

a {
  text-decoration: none;
  color: $main-color;
  @include transition (color .1s ease-in-out);

  &:hover,
  &:focus {
    text-decoration: none;
    color: $bg-dark;
  }
}


p {
  margin: 0 0 10px;
}

.lead {
  font-size: 18px;
  line-height: 1.667em;
}

address {
  font-style: normal;
}


/* List Items
-------------------------------------------------------*/
.list-dividers,
.list-no-dividers {
  list-style: none;
}

.list-dividers > li {
  position: relative;
  padding: 9px 0;
  border-bottom: 1px solid $border-color;
}

.list-no-dividers > li {
  position: relative;
  padding: 3px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.list-inline > li {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;

  &:last-child {
    padding-right: 0;
  }

  &:first-child {
    padding-left: 0;
  }
}