// Colors
$text-color: #829199;
$heading-color: #3e4045;
$nav-color: #3e4045;
$subheading-color: #7d7d7d;
$bg-light: #f7fbff;
$bg-dark: #282e38;
$border-color: #e7eaf0;
$border-color-dark: #313131;
$main-color: #fa9529;
$secondary-color: #3f48c4;
$meta-color: #a5adb8;


// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Lato', sans-serif;
$alt-font: 'Merriweather', serif;


// Navbar
$nav-full-height: 72px;
$nav-short-height: 60px;

$border-radius: 0;